<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJSサンプルコード</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container" ng-app="myApp">
  <h1>AngularJSサンプルコード</h1>
  <div class="row">
    <a href="js/script.js" class="btn btn-default">script.jsを表示</a>
  </div>
  <div ng-controller="myController">
    <div class="row">
      <button type="button" class="btn btn-default" ng-click="load('data1.json')">data1.jsonを読み込み</button>
      <button type="button" class="btn btn-default" ng-click="load('data2.json')">data2.jsonを読み込み</button>
    </div>
    <div class="row">
      <button type="button" class="btn btn-default" ng-click="addItem()">追加</button>
      <button type="button" class="btn btn-default" ng-click="deleteItem()">削除</button>
      <button type="button" class="btn btn-default" ng-click="selectAll()">すべて選択</button>
      <button type="button" class="btn btn-default" ng-click="ok()">OK</button>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>id</th>
            <th>name</th>
            <th>code</th>
            <th>数量</th>
            <th>備考</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td><input type="checkbox" ng-model="item.selected"></td>
            <td>{{item.id}}</td>
            <td>{{item.code}}</td>
            <td><input type="text" ng-model="item.name"></td>
            <td><input type="number" ng-model="item.quantity"></td>
            <td><input type="text" ng-model="item.memo"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <pre id="target"></pre>
    </div>
  </div>
</div>
<!-- jqueryとbootstrapは見た目のためだけに使用しています -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- AngularJSは特に他のJSライブラリへの依存はありません -->
<script src="js/angular.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
