Django==1.4.1
MySQL-python==1.2.3
South==0.7.6
django-extensions==0.9
python-memcached==1.48
gunicorn==0.14.6
bpmappers==0.6
Werkzeug==0.8.3
-e hg+https://bitbucket.org/IanLewis/django-newauth@583cc399124d96060a3efc233a32b68a41bee207#egg=django_newauth-dev
