body {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0.5em;
  margin: 0;
  color: #FFFFFF;
  background-color: #1A3C2F;
}
h2 {
  padding-left: 0.3em;
  line-height: 1.5;
  border-left: 0.5em solid #FFC757;
}
#main {
  background-color: #487858;
}
#items {
  padding: 1.5em;
}
.item {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #FFFFFF;
}
